<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form action="/users/register" method="post">
        <h1>Sign up</h1>
        <label for="email">
          Email
          <input type="email" name="email" />
        </label>
        <label for="password">
          Password
          <input type="password" name="password" />
        </label>
        <input type="submit" value="register" />
        <a href="/login">Login</a>
      </form>
    </main>
  </body>
</html>
